[submodule "projects"]
	path = projects
	url = git://github.com/polymer-project/projects.git
[submodule "toolkit-ui"]
	path = toolkit-ui
	url = git://github.com/polymer-project/toolkit-ui.git
[submodule "polymer-ui-elements"]
	path = polymer-ui-elements
	url = git://github.com/polymer-project/polymer-ui-elements
[submodule "polymer"]
	path = polymer
	url = git://github.com/polymer-project/polymer
[submodule "polymer-elements"]
	path = polymer-elements
	url = git://github.com/polymer-project/polymer-elements
[submodule "pantry-elements"]
	path = pantry-elements
	url = git://github.com/polymer-project/pantry-elements
