[submodule "projects"]
	path = projects
	url = https://github.com/Polymer/projects.git
[submodule "toolkit-ui"]
	path = toolkit-ui
	url = https://github.com/Polymer/toolkit-ui.git
[submodule "polymer-ui-elements"]
	path = polymer-ui-elements
	url = https://github.com/Polymer/polymer-ui-elements
[submodule "polymer"]
	path = polymer
	url = https://github.com/Polymer/polymer
[submodule "polymer-elements"]
	path = polymer-elements
	url = https://github.com/Polymer/polymer-elements
[submodule "more-elements"]
	path = more-elements
	url = https://github.com/Polymer/more-elements.git
	branch = master
